.project-header
  text-align: center

.project-header__tags
  color: $color-blue
  font-size: ms(-1)
  font-weight: 600
  text-transform: uppercase
  margin-bottom: 0
  transition: color 0.3s

.project-header__name,
.project-header__title
  color: $color-black
  display: inline
  transition: color 0.3s

.project-header__name
  @extend h1

.project-header__title
  font-weight: 200

.project-img
  margin-bottom: ms(6)
