.footer
  background: $color-white
  margin-top: ms(8)
  margin-bottom: ms(-1) * -1
  padding: ms(8) 0
  text-align: center

.footer__item
  font-size: ms(2)
  font-weight: 200
  transition: color 0.3s
  &:not(:last-child)
    margin-bottom: ms(0)

.footer__item--link
  a
    color: $color-black
  &:hover
    cursor: pointer
    a
      color: $color-blue-grey

.footer__item--social-wrap
  margin-top: ms(1)

.footer__item--social-wrap__icon
  display: inline-block
  width: ms(2)
  opacity: 1
  transition: opacity 0.3s
  img
  &:not(:last-child)
    margin-right: ms(0)
  &:hover
    opacity: 0.3
