extends ./layout.pug

block nav
  a(href="/").back-link
    span.back-link__pointer ☜
    | Back to Projects

block body
  div.row.center-xs
    div(data-wio-id=pageContent.id).page-header.project-header.col-xs-12.col-md-10
      p.project-header__tags #{pageContent.tags.join(' + ')}
      div.project-header__title-wrap
        h4.project-header__name
          != PrismicDOM.RichText.asText(pageContent.data.project_name)
        h1.project-header__title
          != PrismicDOM.RichText.asText(pageContent.data.project_title)
    if pageContent.data.banner_image
      div.project-img
        img(src=pageContent.data.banner_image.url)
    div.project-body.col-xs-12.col-md-10.col-lg-8
      != PrismicDOM.RichText.asHtml(pageContent.data.body, ctx.linkResolver, htmlSerializer)
      if pageContent.data.related_resources
        div.project-resources
          each resource in pageContent.data.related_resources
            div.project-resources__link
              a(target="_blank" href=resource.url.url)= resource.link_title[0].text
                span.project-resources__pointer ☞
